<p id="notice"><%= notice %></p>

<h1>Forexes</h1>

<table>
  <thead>
    <tr>
      <th>Currency</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forexes.each do |forex| %>
      <tr>
        <td><%= forex.currency %></td>
        <td><%= forex.rate %></td>
        <td><%= link_to 'Show', forex %></td>
        <td><%= link_to 'Edit', edit_forex_path(forex) %></td>
        <td><%= link_to 'Destroy', forex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forex', new_forex_path %>
