<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @forex.currency %>
</p>

<p>
  <strong>Value:</strong>
  <%= @forex.rate %>
</p>

<%= link_to 'Edit', edit_forex_path(@forex) %> |
<%= link_to 'Back', forexes_path %>
