<html>
<head>
  <title>The ForEx App</title>
</head>
<body>
<h1>Welcome to the 'Decent' Foreign Exchange Application</h1>
  <form>
    <div class="form-group">
    <label for="date_now">Dates</label>
      <div class="col-10">
        <input class="form-control" disabled value="<%= @date_now %>" id="date_now"><br/>
      </div>
      <div class="col-10">
        <input class="form-control" disabled value="<%= @last_updated %>" id="date_updated">
      </div>
    </div>
  <div class="form-group">
    <label for="formControlSelect1">From</label>
    <select class="form-control" id="formControlSelect1" name="formControlSelect1">
      <%= @option_list.html_safe %>
    </select>
  </div>
  <div class="form-group">
    <label for="formControlSelect2">To</label>
    <select class="form-control" id="formControlSelect2" name="formControlSelect2">
      <%= @option_list.html_safe %>
    </select>
  </div>
    <div class="form-group">
      <label for="number_input" class="col-2 col-form-label" >Amount</label>
      <div class="col-10">
        <input class="form-control" type="number" step="0.01" min="1" value="1" id="number_input" name="number_input">
      </div>
    </div>
    <div class="form-group">
      <label for="currex-input" class="col-2 col-form-label">Result</label>
      <div class="col-10">
        <input class="form-control" disabled value="<%= @conversion_result %>" id="currex-input">
      </div>
    </div>
    <div class="form-group">
      <%= submit_tag 'Submit', class: "btn btn-default btn-lg btn-block"%>
    </div>

</form>
</body>
<p>Clone me at: <a href="https://github.com/athrael-soju/rubyTest" target="_blank">Git</a></p>


